# Core Data Science Libraries
numpy>=1.23.0

# Deep Learning
torch>=1.13.0
torchvision>=0.14.0

# Reinforcement Learning
gym>=0.26.0
gymnasium>=0.27.0

# Data Visualization
matplotlib>=3.6.0

# Jupyter
jupyter>=1.0.0
ipykernel>=6.19.0

# Utilities
tqdm>=4.64.0
